body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* Header Stuff Here */
header {
    background-color: #ea6300;
    padding: 1rem 2vw;
    justify-content: center;
}
header h1 {
    font-size: 3rem;
    margin: 0;
    color: #00e535;
    justify-content: center;
}
header p {
    margin: 0;
    color: #00e535;
    letter-spacing: .5px;
}

/* nav stuff goes here */
nav {
    background-color: #73e600;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #ea2307;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}
nav li.active a {
    background-color: #ea2307;
    color: #73e600;
}
nav a:hover {
    color: white;
}

/* Stuff for Main */ 
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #00e535;
    font-size: 2rem;
}

main h2 {
    color: #ea6300;
    margin-bottom: .2rem;
}

main p {
    color: #73e600;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #ea2307;
}

main dl dt {
    color: #00e535;
    font-weight: 700;
}

main dl dd {
    color: #ea6300;
    font-size: .9rem;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
    background-color: #eaeaea;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #ea2307;
    border-radius: .5rem;
}

main a {
    color: #ea6300;
    text-decoration: none;
}

main a:hover {
    color: #73e600;
}

/* Footer Stuff Here */


footer {
    background-color: #ea6300;
    text-align: center;
    color: #73e600;
    padding: 1rem 0;
    font-size: .8rem;
}

footer a {
    color: #00e535;
}













